# ========================
# Python 缓存
# ========================
__pycache__/
*.py[cod]

# ========================
# 虚拟环境
# ========================
.venv/
venv/
env/

# ========================
# 环境变量
# ========================
.env

# ========================
# 本地私有配置
# ========================
config/config.yaml

# ========================
# 测试报告 & 日志
# ========================
report/
logs/
*.log
*.html
*.xml

# ========================
# IDE 配置
# ========================
.idea/
.vscode/

# ========================
# 操作系统文件
# ========================
.DS_Store
Thumbs.db